name: Deploy

on:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  deploy-api-preprod:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    environment: preprod
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      
      - name: Deploy API Preprod
        working-directory: apps/api
        run: |
          bun x vercel deploy \
            --token=${{ secrets.VERCEL_TOKEN }} \
            --name=church-sas-api-preprod \
            --yes

  deploy-api-prod:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      
      - name: Deploy API Prod
        working-directory: apps/api
        run: |
          bun x vercel deploy \
            --token=${{ secrets.VERCEL_TOKEN }} \
            --name=church-sas-api-prod \
            --prod \
            --yes

  deploy-web-preprod:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    environment: preprod
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      
      - name: Install & Build
        working-directory: apps/web
        run: |
          bun install
          bun run build
      
      - name: Deploy Web Preprod
        working-directory: apps/web
        run: |
          bun x vercel deploy \
            --token=${{ secrets.VERCEL_TOKEN }} \
            --name=church-sas-web-preprod \
            --prebuilt \
            --yes

  deploy-web-prod:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      
      - name: Install & Build
        working-directory: apps/web
        run: |
          bun install
          bun run build
      
      - name: Deploy Web Prod
        working-directory: apps/web
        run: |
          bun x vercel deploy \
            --token=${{ secrets.VERCEL_TOKEN }} \
            --name=church-sas-web-prod \
            --prebuilt \
            --prod \
            --yes